body {
    background-color:white;
  }
  .container {
      margin-top: 10rem;
  }
  
  .newarrival {
      background: green;
      width: 100px;
      color: white;
      font-size: 12px;
      font-weight: bold;
  }
  
  .col-md-7 h2 {
      color: #555;  
  }
  
  .stars {
      height: 2px;
  }
  
  .price {
      color: light black;
      font-size: 15px;
      font-weight: bold;
      
  }
  
  input {
      border: 1px solid #ccc;
      font-weight: bold;
      text-align: center;
      width: 10px;
  }
  
  .cart {
      background: #14bf98;
      color: #ffffff;
  }
  